# This is a basic workflow to help you get started with Actions

name: Build and deploy to Docker Hub. Trigger deployment on Netlify side.

# Controls when the action will run.
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  # and ignores changes to README.md
  push:
    branches: [ master ]
    paths-ignore:
      - 'README.md'
  pull_request:
    branches: [ master ]
    paths-ignore:
      - 'README.md'

  # Allows you to run this workflow manually from the Actions tab
  # workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}
      - name: Checkout repository
        uses: actions/checkout@v5
      - name: Install dependencies
        run: npm install --legacy-peer-deps
      - name: Build and push
        id: docker_build
        uses: docker/build-push-action@v6
        with:
          push: true
          tags: piotrzan/dcaguide:v1
      - name: Image digest
        run: echo ${{ steps.docker_build.outputs.digest }}
